@font-face{
    font-family:'goodTimesRg';
    src: url('font/goodTimesRg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
   }

html, body {
    background-color: black;
    box-sizing: border-box;
    margin: 0px;
    font-family: 'goodTimesRg';
}


#centeredFlexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;      
}

#calculatorBody {
    height: 700px;
    width: 500px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
}

#digitDisplayArea {
    height: 200px;
    width: 500px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#digitDisplay {
    color: white;
    font-size: 50px;
    margin-right: 20px;
}

#buttonsGrid {
    height: 500px;
    width: 500px;
    background-color: black;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.button {
    margin: 0px;
    padding: 0px;
    height: 80px;
    width: 80px;
    background-color: black;
    color: white;
    border: solid 1px white;
    font-size: 25px;
    border-radius: 40px;
    cursor: default;
    justify-self: center;
    align-self: center;

    display: flex;
    display : flex;
    justify-content: center;
    align-items : center;
}

.button:hover {
    background-color: rgb(17, 17, 17);
    transform: translate(0px, -3px);
}

.zeroButton {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 210px;
}
