html, body {
    background-color: black;
    box-sizing: border-box;
    margin: 0px;
}


#centeredFlexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;      
}

#calculatorBody {
    height: 700px;
    width: 500px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
}

#digitDisplay {
    height: 200px;
    width: 500px;
    background-color: lightblue;
    border-radius: 10px;
}

#buttonsGrid {
    height: 500px;
    width: 500px;
    background-color: lightcoral;
    border-radius: 10px;
}